@page "/Developer/AddTask"
@using BMS.CoreBusiness.Enums;
@inherits AddDevTaskBase

<PageTitle>Add Task</PageTitle>


<EditForm EditContext="@editContext" OnSubmit="async () => await HandleSubmitAsync()">
    <DataAnnotationsValidator />
    <div class="container">
        <h3>Add Task</h3>
        <div class="row pb-2">
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="priority" class="control-label">Priority</label>
                <InputSelect @bind-Value="@ViewModelCreate.Priority" id="priority" class="form-select" required>
                    <option selected value="">--Select Priority--</option>
                    @foreach (var value in Enum.GetValues(typeof(Priority)))
                    {
                        <option value="@value">@value</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => ViewModelCreate.Priority)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="project" class="control-label">Project</label>
                <InputSelect @bind-Value="@ViewModelCreate.ProjectId" id="project" class="form-select" required>
                    <option selected value="">--Select Project--</option>
                    @foreach (var item in ProjectDtoList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => ViewModelCreate.ProjectId)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="responsible1" class="control-label">Responsible 1</label>
                <InputSelect @bind-Value="@ViewModelCreate.Responsible1Id" id="responsible1" class="form-select" required>
                    <option value="">--Select Developer--</option>
                    @foreach (var item in ResponsibleDeveloperDtoList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => ViewModelCreate.Responsible1Id)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="responsible2" class="control-label">Responsible 2</label>
                <InputSelect @bind-Value="@ViewModelCreate.Responsible2Id" id="responsible2" class="form-select">
                    <option value="">--Select Developer--</option>
                    @foreach (var item in ResponsibleDeveloperDtoList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => ViewModelCreate.Responsible2Id)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="qAResponsible" class="control-label">QA Responsible</label>
                <InputSelect @bind-Value="@ViewModelCreate.QAResponsibleId" id="qAResponsible" class="form-select" required>
                    <option value="">--Select QA--</option>
                    @foreach (var item in ResponsibleQADtoList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => ViewModelCreate.QAResponsibleId)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="release" class="control-label">Release</label>
                <InputNumber @bind-Value="@ViewModelCreate.Release" id="release" class="form-control" />
                <ValidationMessage For="@(() => ViewModelCreate.Release)" />
            </div>
        </div>

        <div class="row pb-2">
            <div class="form-group col-xl-8 col-md-8 col-sm-12">
                <label for="title" class="control-label">Task</label>
                <InputTextArea @bind-Value="@ViewModelCreate.Title" id="title" class="form-control" rows="6" />
                <ValidationMessage For="@(() => ViewModelCreate.Title)" />
            </div>
            <div class="form-group col-xl-4 col-md-4 col-sm-12">
                <label for="remarks" class="control-label">Remarks</label>
                <InputTextArea @bind-Value="@ViewModelCreate.Remarks" id="remarks" class="form-control" rows="6" />
                <ValidationMessage For="@(() => ViewModelCreate.Remarks)" />
            </div>
        </div>

        <div class="row pb-2">
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="uXDesignLink" class="control-label">UX Design / Link</label>
                <InputText @bind-Value="@ViewModelCreate.UXDesignLink" id="uXDesignLink" class="form-control" />
                <ValidationMessage For="@(() => ViewModelCreate.UXDesignLink)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="group" class="control-label">Group</label>
                <InputText @bind-Value="@ViewModelCreate.Group" id="group" class="form-control" />
                <ValidationMessage For="@(() => ViewModelCreate.Group)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="fRSMenuLink" class="control-label">FRS Menu</label>
                <InputText @bind-Value="@ViewModelCreate.FRSMenuLink" id="fRSMenuLink" class="form-control" />
                <ValidationMessage For="@(() => ViewModelCreate.FRSMenuLink)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="urlOrMenuOrWorkflow" class="control-label">Url / Menu / Workflow</label>
                <InputText @bind-Value="@ViewModelCreate.UrlOrMenuOrWorkflow" id="urlOrMenuOrWorkflow" class="form-control" />
                <ValidationMessage For="@(() => ViewModelCreate.UrlOrMenuOrWorkflow)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="testCaseFunctional" class="control-label">Test Case Functional</label>
                <InputText @bind-Value="ViewModelCreate.TestCaseFunctional" id="testCaseFunctional" class="form-control" />
                <ValidationMessage For="@(() => ViewModelCreate.TestCaseFunctional)" />
            </div>
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="testFeatureAndScenario" class="control-label">Test Feature And Scenario</label>
                <InputText @bind-Value="ViewModelCreate.TestFeatureAndScenario" id="testFeatureAndScenario" class="form-control" />
                <ValidationMessage For="@(() => ViewModelCreate.TestFeatureAndScenario)" />
            </div>
        </div>
        <div class="row pb-2">
            <div class="form-group col-xl-2 col-md-2 col-sm-12">
                <label for="webRequestKey" class="control-label">Web Request Key</label>
                <InputText @bind-Value="ViewModelCreate.WebRequestKey" id="webRequestKey" class="form-control" />
                <ValidationMessage For="@(() => ViewModelCreate.WebRequestKey)" />
            </div>
        </div>
        <div class="row pb-2">
            <div class="form-group col-xl-6 col-md-2 col-sm-12">
                <button disabled="@isInvalidForm" type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</EditForm>