@page "/Developer/Projects"
@using BMS.BlazorWebApp.Areas.Common.Pages.Aleart
@using BMS.BlazorWebApp.Areas.Common.Pages.Loader
@using BMS.BlazorWebApp.Areas.Common.Pages.Button
@using BMS.BlazorWebApp.Areas.Common.Pages.Modal
@using BMS.BlazorWebApp.Helpers;
@using Microsoft.AspNetCore.Components.QuickGrid
@using static BMS.BlazorWebApp.Helpers.WebHelper;
@inherits ProjectListBase

<PageTitle>Project List</PageTitle>

<div class="container">

    @if (Projects is null || IsLoading is true)
    {
        <DisplayLoader />
    }
    else
    {
        if (IsDisplayClose is true)
        {
            <ButtonClose OnButtonClosed="@CloseButton" />
        }
        if (DisplayAddButton is true)
        {
            <button type="button" class="btn btn-primary mb-2" @onclick="ToggleAddProjectButton">Add Project</button>
        }
        else if (IsEditing is false && IsDetailsView is false)
        {
            <AddProject OnProjectAddCompletedAsync="async (args) => await OnProjectActionCompletedAsync(args.Item1, args.Item2)" />
        }
        else if (DisplayAddButton is false && IsEditing is true)
        {
            <EditProject ViewModelEdit="@ProjectViewModelEdit" OnProjectEditCompletedAsync="async (args) => await OnProjectActionCompletedAsync(args.Item1, args.Item2)" />
        }
        else if (DisplayAddButton is false && IsDetailsView is true)
        {
            <DetailsProject ViewModelDetils="@ProjectViewModelDetils" />
        }
        if (IsDisplayAleart is true)
        {
            <DisplayAleart OnAleartDismissed="DismissAleart" Message="@Message" MessageType="@MessageType" />
        }
        if (DialogIsOpen is true)
        {
            <DisplayModal Caption="Delete a project" Message="@ProjectDeleteMessage" OnCloseAsync="@OnDialogCloseAsync" Type="ModalCategory.DeleteNot" />
        }

        <div class="page-size-chooser">
            Items per page:
            <select @bind="pagination.ItemsPerPage">
                @foreach (var item in WebHelper.ItemsPerPageList)
                {
                    <option>@item</option>
                }
            </select>
        </div>

        <div class="grid">
            <QuickGrid Items="@FilteredItems" Pagination="@pagination">
                <PropertyColumn Property="@(p => p.Name)" Sortable="true" Class="project-name">
                    <ColumnOptions>
                        <div class="search-box">
                            <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Project name..." />
                        </div>
                    </ColumnOptions>
                </PropertyColumn>
                <PropertyColumn Property="@(p => p.CreatedBy)" Title="Created By" Sortable="true" />
                <PropertyColumn Property="@(p => p.LastModifiedBy)" Title="Last Modified By" Sortable="true" />
                <PropertyColumn Property="@(p => p.CreatedOnUtc)" Title="Created On" Format="MM/dd/yyyy hh:mm tt" Sortable="true" />
                <PropertyColumn Property="@(p => p.LastModifiedOnUtc)" Title="Last Modified On" Format="MM/dd/yyyy hh:mm tt" Sortable="true" />
                <TemplateColumn Title="Actions" Align="Align.Center">
                    <button class="btn btn-outline-info" @onclick="() => Details(context)">Details</button>
                    <button class="btn btn-outline-primary" @onclick="() => Edit(context)">Edit</button>
                    <button class="btn btn-outline-danger" @onclick="() => OpenDialog(context.Id, context.Name)">Delete</button>
                </TemplateColumn>
            </QuickGrid>
        </div>
        <Paginator Value="@pagination" />
    }
</div>
